<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-show></app-show> -->
<div class="container-fluid">
    <nav class="nav">
        <a class="nav-link" routerLink="">Test1</a>
        <a class="nav-link" routerLink="test2">Test2</a>
        <a class="nav-link" routerLink="test3">Test3</a>
        <a class="nav-link" routerLink="imdb">IMDB</a>
        <a class="nav-link" routerLink="pipe">Pipe</a>
        <a class="nav-link" routerLink="TestCode">TestCode</a>
        <a class="nav-link" routerLink="Keyenter">Keyenter</a>
    </nav>
    <router-outlet></router-outlet>
</div>