.calendar {
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    position: absolute;
    z-index: 10;
    left: 16px;
    /* width: 245px;
    height: 280px; */
    width: 205px;
    height: 275px;
    /* padding: 9px; */
}

.input-container {
    display: inline-flex;
    flex-direction: row;
}

.calendar-header {
    text-align: center;
    position: relative;
    line-height: 30px;
    font-size: 16px;
    /* border-bottom: 1px solid black; */
    padding: 5px 0;
    background-color: #2ea7e0;
}

.calendar-header>a {
    color: #FFF;
    margin: 0 10px;
    font-size: 20px;
}

.calendar-header>div {
    display: inline-flex;
}

.calendar-header>div>select {
    margin: 0 2px;
}

.calendar-table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    /* margin: 0px 10px 10px 10px; */
    width: 100%;
}

.calendar-cell {
    line-height: 40px;
    width: 40px;
    text-align: center;
}

table {
    border-collapse: collapse;
}

tr:first-child {
    /* border-bottom: 1px solid black; */
    background-color: #e2dcdc;
}

td {
    border: 3px solid white;
}

th,
td {
    /* border: 1px solid black; */
    padding: 3px;
    text-align: center;
    /* border: 1px solid black; */
}

th:first-child {
    color: red;
}

td:hover {
    background-color: #b7b5b596;
}

td.selectDay {
    color: #FFF;
    background-color: #2ea7e0;
}

td.disableDay {
    opacity: 0.5;
    /* color: #FFF; */
    background-color: #e8e8e89f;
    cursor: not-allowed;
    pointer-events: none;
}

.calendar-container {
    display: inline-block;
}

.calerder-flex-container {
    display: flex;
    flex-direction: row;
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    position: absolute;
    z-index: 10;
    left: 286px;
    top: 410px;
    width: 250px;
    height: 300px;
}

.pointer {
    cursor: pointer;
    /* pointer-events: none; */
}

.disableClick {
    cursor: not-allowed;
    pointer-events: none;
}

/*calerder-flex*/

/* 
.calerder-flex-header {}

.calerder-flex-month {}

.calerder-flex-week {
    flex-direction: row;
}

.calerder-flex-day {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
} */