<div>
  <div class="calendar-container">

    <select *ngIf="showDropdown"
            [(ngModel)]="selectJapEra">
      <option></option>
      <option *ngFor="let item of yearShort">{{item}}</option>
    </select>

    <input type="tel"
           id="inputDate"
           #inputTel
           [(ngModel)]="inputDates"
           (keydown.enter)="onFocusOut()"
           (focus)="toggleDatepicker('open')"
           (focusout)="getInputDate($event)">
    <!--[maxLength]="maxLen"-->

    <div *ngIf="onDatepicker"
         class="calendar">

      <div class="calendar-header">
        <a href="javascript:void(0);">
          <i class="fas fa-angle-left"></i>
        </a>
        <select [(ngModel)]="selectYear"
                (change)="selectedDate()">
          <option *ngFor="let item of showYearLength">{{item.isYear}}</option>
        </select>
        <select [(ngModel)]="selectMonth"
                (change)="selectedDate()">
          <option *ngFor="let item of dateJap.monthNames">{{item}}</option>
        </select>
        <a href="javascript:void(0);">
          <i class="fas fa-angle-right"></i>
        </a>
      </div>

      <!-- Table Year-->
      <table class="calendar-table">
        <tr>
          <th *ngFor="let item of dateJap.dayNamesMin">{{item}}</th>
        </tr>
        <tr *ngFor="let w of showWeeks">
          <td *ngFor="let d of w">{{d}}</td>
        </tr>
      </table>
    </div>


    <!-- Table Flex-->

    <!-- <div class="calerder-flex-container">
      <div class="calerder-flex-month">

        <div class="calerder-flex-week">
          <div class="calerder-flex-day"
               *ngFor="let item of dateJap.dayNamesMin">{{item}}</div>
        </div>

        <div class="calerder-flex-week"
             *ngFor="let w of showWeeks">
          <div class="calerder-flex-day"
               *ngFor="let d of w">{{d}}</div>
        </div>

      </div>
    </div> -->
    <!-- onupdateDate($event); -->
  </div>
</div>
