<div>
  <div class="calendar-container">

    <div class="input-container ">

      <select *ngIf="showDropdown"
              [(ngModel)]="selectJapEra"
              (change)="selectEra($event)">
        <option *ngFor="let item of yearShort">{{item}}</option>
      </select>

      <input type="tel"
             id="inputDate"
             #inputTel
             [(ngModel)]="inputDates"
             (keydown.enter)="onFocusOut()"
             (focus)="toggleDatepicker('open')"
             (focusout)="getInputDate($event)">
    </div>
    <!--[maxLength]="maxLen"-->

    <div *ngIf="onDatepicker"
         class="calendar">

      <div class="calendar-header">
        <a href="javascript:void(0);"
           (click)="onGoMonth('previous')">
          <i class="fas fa-angle-left"></i>
        </a>

        <div>
          <select [(ngModel)]="selectYear"
                  (change)="selectedYear($event.target.value)">
            <option *ngFor="let item of showYearLength">{{item.isYear}}</option>
          </select>

          <select [(ngModel)]="selectMonth"
                  (change)="selectedMonth($event.target.value)">
            <option *ngFor="let item of dateJap.monthNames;let i = index"
                    [ngValue]="i">{{item}}</option>
          </select>
        </div>

        <a href="javascript:void(0);"
           (click)="onGoMonth('next')">
          <i class="fas fa-angle-right"></i>
        </a>
      </div>

      <!-- Table Year-->
      <table class="calendar-table">
        <tr>
          <th *ngFor="let item of dateJap.dayNamesMin">{{item}}</th>
        </tr>
        <tr *ngFor="let w of showWeeks">
          <td *ngFor="let d of w"
              class="pointer"
              [ngClass]="{
                selectDay: selectDay === d.day && selectMonth === d.month,
                disableDay: selectMonth !== d.month }"
              (click)="selectedDay(d)">{{d.day}} </td>
        </tr>
      </table>
    </div>


    <!-- Table Flex-->

    <!-- <div class="calerder-flex-container">
      <div class="calerder-flex-month">

        <div class="calerder-flex-week">
          <div class="calerder-flex-day"
               *ngFor="let item of dateJap.dayNamesMin">{{item}}</div>
        </div>

        <div class="calerder-flex-week"
             *ngFor="let w of showWeeks">
          <div class="calerder-flex-day"
               *ngFor="let d of w">{{d}}</div>
        </div>

      </div>
    </div> -->
    <!-- onupdateDate($event); -->
  </div>
</div>
