<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-3">
    <span>
      <label for="">&nbsp;1:</label>
      <input type="text"
             name=""
             id="focus1"
             [(ngModel)]="checkText">
    </span>
    <br>
    <span>
      <label for="">&nbsp;2:</label>
      <input type="text"
             name=""
             id="focus2"
             [(ngModel)]="txt1"
             (focusout)="onCheck($event)"
             appKeyenter>
    </span>
    <br>
    <span>
      <label for="">&nbsp;3:</label>
      <input type="text"
             name=""
             id="focus3"
             appKeyenter>
    </span>
    <br>
    <span>
      <label for="">&nbsp;4:</label>
      <input type="text"
             name=""
             id="focus4"
             appKeyenter>
    </span>
    <br>
    <span>
      <label for="">&nbsp;5:</label>
      <input type="text"
             name=""
             id="focus5"
             appKeyenter>
    </span>
  </div>
  <div class="col-lg-3">
    <span>
      <label for="">&nbsp;6:</label>
      <input type="text"
             name=""
             id="focus6"
             appKeyenter>
    </span>
    <br>
    <span>
      <label for="">&nbsp;7:</label>
      <input type="text"
             name=""
             id="focus7"
             appKeyenter>
    </span>
    <br>
    <span>
      <label for="">&nbsp;8:</label>
      <input type="text"
             name=""
             id="focus8"
             appKeyenter>
    </span>
    <br>
    <span>
      <label for="">&nbsp;9:</label>
      <input type="text"
             name=""
             id="focus9"
             appKeyenter>
    </span>
    <br>
    <span>
      <label for="">10:</label>
      <input type="text"
             name=""
             id="focusout"
             appKeyenter>
    </span>
  </div>
  <div class="col-lg-3">
    <input type="text"
           name=""
           id="kuy1"
           appKeyenter
           [keyOption]="{groupNm:'kuy'}">
    <input type="text"
           name=""
           id="kuy2"
           appKeyenter
           [keyOption]="{groupNm:'kuy'}">
    <input type="text"
           name=""
           id="kuy3"
           appKeyenter
           [keyOption]="{groupNm:'kuy'}">
    <input type="text"
           name=""
           id="kuy4"
           appKeyenter
           [keyOption]="{groupNm:'kuy'}">
    <input type="text"
           name=""
           id="kuy5"
           appKeyenter
           [keyOption]="{groupNm:'kuy'}">
    <input type="text"
           name=""
           id="kuy6"
           appKeyenter
           [keyOption]="{groupNm:'kuy'}">

  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="lds-ripple">
      <input type="text"
             [appEnterkeys]="'mop'">
      <br>
      <input type="text"
             [appEnterkeys]="'mop'">
      <br>
      <input type="text"
             [appEnterkeys]="'mop'">
      <br>
      <input type="text"
             id="momo"
             appEnterkeys>
      <br>
      <input type="text"
             appEnterkeys>
      <br>
      <button class="elm-focus"
              id="lol"
              appEnterkeys>FOCUS ME!</button>
      <br>
      <a href="javascript:void(0)"
         class="elm-focus"
         [appEnterkeys]="'mop'">FOCUS A</a>
      <br>
    </div>
  </div>
  <div class="col-md-3">
    <!--
    TEstttttt
  -->
    <h3>Test InpuBox Diredtive</h3>
    <div class="lds-ripple">
      <span>
        <label>checkByte:</label>
        <input type="text"
               id="humtung"
               maxlength="10"
               [(ngModel)]="formB.testSpell"
               appInputBox
               (CheckBytes)="returnDirective($event)"
               [optionBox]="{
                 checkByte: true,
                 keyenter:'input2'
                }">
      </span>
      <br>
      <span>
        <label>onlyNumber:</label>
        <input type="text"
               id="humnoi"
               [(ngModel)]="formB.numberIn"
               (Negative)="outPut($event)"
               appInputBox
               [optionBox]="{
                 onlyNumber: true,
                 defaultZero: true,
                 allowNegative: true,
                 keyenter:'input2'
                }">
      </span>
      <br>
      <span>
        <label>IME mode:</label>
        <input type="text"
               id="nakamura"
               [(ngModel)]="formB.onIme"
               appInputBox
               [optionBox]="{
                onIME:'disabled',
                keyenter:'input3'
               }">
      </span>
      <br>
      <span>
        <label>PadNuber Zero:</label>
        <input type="text"
               id="kokoro"
               appInputBox
               [(ngModel)]="formB.padNum"
               (fillNumber)="formB.padNum = $event"
               [optionBox]="{
                padNumber:10,
                keyenter:'input3'
               }">
      </span>
      <br>
      <button class="elm-focus"
              (click)="getValForm($event)"
              appInputBox
              [optionBox]="{
                keyenter:'input3'
               }">FOCUS ME!2</button>
      <br>
      <a href="javascript:void(0)"
         class="elm-focus"
         appInputBox
         [optionBox]="{
          keyenter:'input3'
               }">FOCUS A2</a>
      <br>
    </div>

  </div>

  <div class="col-md-6">
    <h1>
      Here:
      <small>{{showAlert}}</small>
    </h1>
  </div>

</div>

<div class="row">
  <div class="col-mg-6">

  </div>
  <div class="col-mg-6">

  </div>
</div>

<!-- <div class="row">
  <div class="col-mg-12">
    <app-date-pickers></app-date-pickers>
  </div>
</div> -->
